body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
a {
    text-decoration: none;
}
img#logo {
    height: 85px;
}

/* Colorboxes */
.colorbox {
    width: 8px;
    height: 8px;
    border: 2px dashed white;
    display: inline-block;
}
.colorbox-legend {
    float: right;
    margin-left: 4px;
}
.colorbox-popup {
    margin-right: 4px;
    /* margin-bottom: 3px; */
}
.colorbox-info-gradient {
    margin-right: 20px;
}

.popup-segment {
    padding-top: 8px;
}
.popup-segment p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding-left: 0.5em;
}

.leaflet-control { clear: none; }

/* Alterations to the Map Layers Control */
.leaflet-control-layers-expanded {
    overflow-y: scroll;
}
.leaflet-control-layers-title {
    background-image: url(leaflet-0.7.3/css/images/layers-2x.png);
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    height: 36px;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
}
.leaflet-control-layers-title>span {
    padding-left: 46px;
    line-height: 36px;
}
.leaflet-control-layers-section-name {
    background-color:rgb(229, 229, 229);
    border-bottom: 1px solid rgb(159, 159, 159);
    width: 100%;
    padding: 1px 10px 3px 6px;
    margin: 5px -10px 5px -6px;
}
.leaflet-control-layers-section-name>h4 {
    font-size: 1.2em;
    display: inline-block;
    margin: 0;
}
.leaflet-control-layers-base>label {
    padding-left: .5em;
}
.leaflet-control-layers-group {
    margin-bottom: 3px;
}
.leaflet-control-layers-group-name {
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid rgb(159, 159, 159);
    padding-bottom: 1px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.bulk-select-overlays {
    display: inline-block;
    float: right;
}
div.leaflet-control-layers-separator {
    display: none;
}
.leaflet-control-layers-selector {
    padding-right: 2px;
}
a.leaflet-control-layers-toggle {
    background-position: 10px 50%;
    width: auto;
}
a.leaflet-control-layers-toggle span {
    display: inline-block;
    padding-left: 46px;
    padding-right: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: middle;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
button {
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 3px 0 3px 5px;
    font-weight: bold;
    color: white;
}
button.select-all-overlays {
    background-color: #2e8b57;
}
button.unselect-all-overlays {
    background-color: #dc143c;
}
.leaflet-control-layers-pin-button {
    width: 36px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    display: block;
    float: right;
    font-family: 'Whitney SSm A', 'Whitney SSm B', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 10px;
    padding: 0px;
    vertical-align: top;
}
.leaflet-control-layers-pin-button>span {
    width: 98%;
    height: 98%;
    border: none;
    color: black;
    background: white;
    margin: 1px;
    padding: 10px 3px;
    font-size: 18px;
    vertical-align: middle;
}
button.leaflet-control-layers-pin-button.pinned {
    background-color: inset #ccc;
}
#ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#ck-button label {
    float:left;
    width:4.0em;
}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#911;
    color:#fff;
}

/* Alterations to placement of Zoom controls */
#zoomcontrols {
    clear: none;
    float: left;
}
#zoomcontrols>.leaflet-control {
    clear:both;
}

/* Alterations to the Locate Control */
div.leaflet-control-locate a.leaflet-bar-part-single {
    width: auto;
}
div.leaflet-control-locate a.leaflet-bar-part-single span {
    display: inline-block;
    padding-left: 0px;
    padding-right: 5px;
    margin-top: -9px;
    height: 100%;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
    vertical-align: middle;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
div.leaflet-control-locate a.leaflet-bar-part-single span.fa {
    padding: 5px 5px 5px 5px;
    line-height: 26px;
    margin-top: 0;
}

/* Custom choropleth legend control */
.leaflet-control.choropleth-legend {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 5px 0px;
    clear: both;
    display: block;
    float: left;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    background: rgba(255, 255, 255, 0.7);
    margin: 10px;
    padding: 10px;
    color: #333;
    min-width: 100px;
    max-width: 280px;
    vertical-align: top;
}
.leaflet-control.choropleth-legend>strong {
    font-weight: bold;
    font-size: 14px;
    float: none;
    clear: both;
    display: block;
}
.leaflet-control.choropleth-legend>div.choropleth-legend-content {
    float: left;
    margin-top: 20px;
    margin-right: 5px;
}
.leaflet-control.choropleth-legend div.choropleth-legend-element {
    width: 100%;
    margin-bottom: 3px;
    float: none;
}
.leaflet-control.choropleth-legend div.colorbox {
    padding-right: 10px;
    float: none;
}
.leaflet-control.choropleth-legend div.choropleth-legend-data-credits {
    float: none;
    clear: both;
    width: 100%;
    font-size: 10px;
}

/* Choropleth display within Choropleth Legend custom control */
.choropleth-display {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 5px 0px;
    clear: none;
    display: block;
    float: right;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    background: rgba(255, 255, 255, 0.7);
    margin: 10px;
    padding: 10px;
    color: #333;
    min-width: 130px;
    max-width: 150px;
    vertical-align: top;
}
.choropleth-display strong {
    font-weight: bold;
    font-size: 14px;
    float: none;
    clear: none;
    display: inline;
}
.choropleth-display div.choropleth-display-info {
    width: 70%;
    height: 100%;
    float: left;
    clear: none;
    vertical-align: top;
    padding-left: 10px;
}
.leaflet-control.choropleth-legend .choropleth-display div.colorbox {
    padding-right: 10px;
    float: left;
    clear: left;
    border-style: solid;
}

/* Print Button */
.printbutton-div {
    width: 36px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    display: block;
    float: right;
    font-family: 'Whitney SSm A', 'Whitney SSm B', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 10px;
    padding: 0px;
    vertical-align: top;
}
#printbutton {
    width: 98%;
    height: 98%;
    border: none;
    color: black;
    background: white;
    margin: 1px;
    padding: 0;
    font-size: 18px;
}

/* GeoSearch Input Box */
.leaflet-container .leaflet-control-geosearch {
    max-width: 80%;
    margin: 10px 10% 0;
}
.leaflet-top.leaflet-center {
    margin: 10px auto 0;
}

/* Disclaimer control styles */
.leaflet-control-disclaimer {
    background-color: rgba(255,255,255,0.7);
    font-size: 11px;
    padding: 0 5px;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 2px;
    color: #333;
    width: 100%;
}

.leaflet-control-disclaimer .disclaimer-text {
    font-size: 11px;
    padding: 0 8px;
    margin: 0;
    text-align: center;
}

/* Browser version issues alert message */
.browser-version-alert {
    background: white;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    color: darkred;
    text-align: center;
}
